body{
    background-color: rgba(245, 28, 28, 0.788);}

#topPanel{
    text-align: center;
}

#topPanel img{
    width: 35%;
}

#typeOfBurger1{
    position: absolute;
    font-size: medium;
    width: 20%;
}

#supremeBurgerQuantity{
    position: absolute;
    left: 67.5%;
}

#addSupremeBurger{
    position: absolute;
    left: 80%;
    background-color: rgb(232, 188, 80);
    font-size: medium;
    border-radius: 10px;
}

#typeOfBurger2{
    position: absolute;
    font-size: medium;
    width: 20%;
}

#surpriseBurgerQuantity{
    position: absolute;
    left: 67.5%;
}

#addSurpriseBurger{
    position: absolute;
    left: 80%;
    background-color: rgb(232, 188, 80);
    font-size: medium;
    border-radius: 10px;
}

#typeOfBurger3{
    position: absolute;
    font-size: medium;
    width: 20%;
}

#whopperBurgerQuantity{
    position: absolute;
    left: 67.5%;
}

#addWhopperBurger{
    position: absolute;
    left: 80%;
    background-color: rgb(232, 188, 80);
    font-size: medium;
    border-radius: 10px;
}

#typeOfBurger4{
    position: absolute;
    font-size: medium;
    width: 20%;
}

#chilliCheeseBurgerQuantity{
    position: absolute;
    left: 67.5%;
}

#addChilliCheeseBurger{
    position: absolute;
    left: 80%;
    background-color: rgb(232, 188, 80);
    font-size: medium;
    border-radius: 10px;
}

#typeOfBurger5{
    position: absolute;
    font-size: medium;
    width: 20%;
}

#tandoorGrillBurgerQuantity{
    position: absolute;
    left: 67.5%;
}

#addTandoorGrillBurger{
    position: absolute;
    left: 80%;
    background-color: rgb(232, 188, 80);
    font-size: medium;
    border-radius: 10px;
}
#viewCartButton{
    position: relative;
    left: 70%;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-size: large;
    background-color: rgb(39, 145, 39);
}