body{
    background-color: rgb(10, 176, 182);
}

#topPanel{
    text-align: center;
}

#topPanel img{
    width: 35%;
}

.burgerPanel img{
    position: relative;
    width: 15%;
    left: 20%;
}

.submitPanel{
    text-align: center;
}

.submitPanel button{
    background-color: rgb(138, 182, 26);
    border-radius: 10px;
    font-size: x-large;
    outline: none;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
}

#bg1{
    position: absolute;
    top: 22.5%;
    left: 6.5%;
    font-size: x-large;
}

#bg2{
    position: absolute;
    top: 50.5%;
    left: 6.5%;
    font-size: x-large;
}

#bg3{
    position: absolute;
    top: 77%;
    left: 6.5%;
    font-size: x-large;
}

#bg4{
    position: absolute;
    top: 104%;
    left: 3.5%;
    font-size: x-large;
}

#bg5{
    position: absolute;
    top: 130.5%;
    left: 3.5%;
    font-size: x-large;
}

#bg1,#bg2,#bg3,#bg4,#bg5{
    color: rgb(232, 188, 80);
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#typeOfBurger1{
    position: absolute;
    left: 40%;
    top: 22.5%;
    font-size: xx-large;
    width: 20%;
}

#supremeBurgerQuantity{
    position: absolute;
    left: 62.5%;
    top: 22.5%;
}

#addSupremeBurger{
    position: absolute;
    left: 75%;
    top: 22%;
    background-color: rgb(232, 188, 80);
    font-size: medium;
    border-radius: 10px;
}

#typeOfBurger2{
    position: absolute;
    left: 40%;
    top: 50.5%;
    font-size: xx-large;
    width: 20%;
}

#surpriseBurgerQuantity{
    position: absolute;
    left: 62.5%;
    top: 50.5%;
}

#addSurpriseBurger{
    position: absolute;
    left: 75%;
    top: 50%;
    background-color: rgb(232, 188, 80);
    font-size: medium;
    border-radius: 10px;
}

#typeOfBurger3{
    position: absolute;
    left: 40%;
    top: 75.5%;
    font-size: xx-large;
    width: 20%;
}

#whopperBurgerQuantity{
    position: absolute;
    left: 62.5%;
    top: 75.5%;
}

#addWhopperBurger{
    position: absolute;
    left: 75%;
    top: 75%;
    background-color: rgb(232, 188, 80);
    font-size: medium;
    border-radius: 10px;
}

#typeOfBurger4{
    position: absolute;
    left: 40%;
    top: 105.5%;
    font-size: xx-large;
    width: 20%;
}

#chilliCheeseBurgerQuantity{
    position: absolute;
    left: 62.5%;
    top: 105.5%;
}

#addChilliCheeseBurger{
    position: absolute;
    left: 75%;
    top: 105%;
    background-color: rgb(232, 188, 80);
    font-size: medium;
    border-radius: 10px;
}

#typeOfBurger5{
    position: absolute;
    left: 40%;
    top: 130.5%;
    font-size: xx-large;
    width: 20%;
}

#tandoorGrillBurgerQuantity{
    position: absolute;
    left: 62.5%;
    top: 130.5%;
}

#addTandoorGrillBurger{
    position: absolute;
    left: 75%;
    top: 130%;
    background-color: rgb(232, 188, 80);
    font-size: medium;
    border-radius: 10px;
}