#cartTable{
    border: 2.5px solid black;
    padding: 15px;
    text-align: left;
    border-spacing: 15px;
    position:fixed;
    margin-left:-150px;
    margin-top:-150px;
    top:50%;
    left:50%;
}

#placeOrder{
    position:fixed;
    margin-left:-150px; /* half of width */
    margin-top:-150px;  /* half of height */
    top:80%;
    left:60%;
}

#cartTable td:last-child{
    color: red;
    font-weight: bolder;
    font-size: large;
}
body {
  background-color: #3e94ec;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

